.dmoain-pricing table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.dmoain-pricing table .domain-head {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  background: #9dc15b;
}

.dmoain-pricing table .domain-head th {
  border-right: 2px solid #fff;
}

.dmoain-pricing table .domain-head th:last-child {
  border-right: none;
}

.dmoain-pricing table th {
  padding: 11px 0;
  text-align: center;
  font-weight: 600;
}

.dmoain-pricing table td {
  padding: 23px 0;
  text-align: center;
  font-weight: 700;
  color: #707070;
}

.dmoain-pricing table th,
.dmoain-pricing tbody tr td:nth-child(1) {
  text-transform: capitalize;
}

.dmoain-pricing tbody tr td:nth-child(1) {
  font-size: 20px;
  color: #000;
  font-weight: 600;
}



.pricingTable{
    text-align: center;
	box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
}
.pricingTable .pricingTable-header{
    color:#feffff;
    background: #333333;
}
.pricingTable .heading{
    display: block;
    padding-top: 25px;
}
.pricingTable .heading:after{
    content: "";
    border-top: 1px solid rgba(255, 255, 255 ,0.4);
    display: inline-block;
    width: 85%;
}
.pricingTable .heading > h3{
    margin: 0;
    text-transform: capitalize;
    font-size: 38px;
	font-weight: 700;
	color: #fff;
}
.pricingTable .heading > span{
    text-transform: capitalize;
    font-size: 13px;
    margin-top: 5px;
    display: block;
}
.pricingTable .price-value{
    padding-bottom: 25px;
    display: block;
    font-size: 34px;
}
.pricingTable-header > .price-value > .month{
    font-size: 14px;
    display: inline-block;
    text-transform: uppercase;
}
.pricingTable .price-value > span{
    display: block;
    font-size: 14px;
    line-height: 20px;
}
.pricingTable .pricingContent{
    text-transform: capitalize;
    background: #f5f5f5;
    color:#333333;
}
.pricingTable .pricingContent > i{
    font-size: 60px;
    margin-top: 20px;
	color: #9dc15b;
}
.pricingTable .pricingContent ul{
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    text-align: left;
}
.pricingTable .pricingContent ul li{
    padding: 12px 0;
    border-bottom: 1px solid #000;
    border-top: 1px solid #333;
    width: 85%;
    margin: 0 auto;
}
.pricingTable .pricingContent ul li:first-child{
    border-top: 0px none;
}
.pricingTable .pricingContent ul li:last-child{
    border-bottom: 0px none;
}
.pricingTable .pricingContent ul li:before{
    content: "\f00c";
    font-family:'FontAwesome'; font-weight: 900;
    margin-right: 10px;
    transition:all 0.5s ease 0s;
}
.pricingTable .pricingContent ul li:hover:before{
    margin-right: 20px;
}
.pricingTable .pricingTable-sign-up{
    padding: 20px 0;
    background: #ffffff;
    color:#fff;
    text-transform: capitalize;
}
.pricingTable .pricingTable-sign-up > span{
    margin-top: 10px;
    display: block;
}
.pricingTable .btn-block{
    width: 40%;
    margin: 0 auto;
    background: #e67e22;
    color:#fff;
    text-transform: capitalize;
    border: 0px none;
    padding: 10px;
    border-radius: 3px;
    font-size: 17px;
    transition:all 0.5s ease 0s;
}
.pricingTable .btn-block:hover{
    border-radius: 12px;
}
.pricingTable .btn-block:before{
    content: "\f07a";
    font-family:'FontAwesome'; font-weight: 900;
    margin-right: 10px;
}
.pricingTable.pink .pricingTable-header{
    background: #333333;
}
.pricingTable.orange .pricingTable-header{
    background: #333333;
}
.pricingTable.green .pricingTable-header{
    background: #008b8b;
}
@media screen and (max-width: 990px){
    .pricingTable{
        margin-bottom: 20px;
    }
}


.pricingTable-sign-up a{}
.pricingTable-sign-up a{
	position: relative;
	padding: 13px 40px;
	font-size: 18px;
	display: inline-block;
}
.pricingTable-sign-up a,
.pricingTable-sign-up a.hover-btn-new::after {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.pricingTable-sign-up a.hover-btn-new::before,
.pricingTable-sign-up a.hover-btn-new::after {
  background: #77a7cd;
  content: '';
  position: absolute;
  z-index: 1;
}

.pricingTable-sign-up a.hover-btn-new:hover span {
  color: #77a7cd;
}
.pricingTable-sign-up a.hover-btn-new::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.pricingTable-sign-up a.hover-btn-new::after {
  background: #77a7cd !important;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.pricingTable-sign-up a.hover-btn-new span{
	position: relative;
	z-index: 2;
	color: #fff;
}
.pricingTable-sign-up a.hover-btn-new:hover:after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}
